.App-header > img {
  float: left;
  max-height: 120px;
}

.App-header > h1 {
  display: inline-block;
}

.App-header {
  overflow: hidden;
}

.App-body {
  height: 350px;
  border-top: 2px solid #e1003c;
  border-bottom: 2px solid #e1003c;
}

.App-footer {
  text-align: center;
}
